<div class="table-responsive">
    <table id="controlLedger-grid" class="table table-striped table-bordered table-sm table-common">
        <thead>
            <tr>
                <th class="text-center text-middle">
                  Select <br/>  <input type="checkbox" id="controlLedger-check-all" />
                </th>
                <th class="text-center text-middle">GRL Code</th>
                <th class="text-center text-middle">GRL Name</th>
                <th class="text-center text-middle">Short Name</th>
                 
            </tr>
        </thead>
    </table>
</div>