<div class="table-responsive">
    <table id="generalLedger-grid" class="table table-striped table-bordered table-sm table-common">
        <thead>
            <tr>
                <th class="text-center text-middle">
                    Select <br />
                    <input type="checkbox" id="generalLedger-check-all" />
                </th>
                <th class="text-center text-middle">SCL Code</th>
                <th class="text-center text-middle">SCL Name</th>
                <th class="text-center text-middle">CL Name</th>
                <th class="text-center text-middle">GRL Name</th>
                 
            </tr>
        </thead>
    </table>
</div>