

<div class="table-responsive">
 
    <table id="expenseEntry-grid" class="table table-striped table-bordered table-sm table-common">
        <thead>
            <tr>
                <th class="text-center text-middle">
                  Select <br/>  <input type="checkbox" id="expenseEntry-check-all" />
                </th>
                <th class="text-center text-middle">Expense Code</th>
                <th class="text-center text-middle">EH Name</th>
                <th class="text-center text-middle">Date</th>
                <th class="text-center text-middle">Amount</th>
                 
            </tr>
        </thead>
    </table>
</div>