@model GCTL.UI.Core.ViewModels.AccVouchers.AccVoucherPageViewModel
@{
    ViewBag.Title = "Voucher Entry";
    Model.PageTitle = ViewBag.Title;
    Model.Breadcrumb = "Voucher Entry";
}
<style>
 .pointTer {
        color: blue !important;
        cursor:pointer !important;
   
 
    }
</style>

<!-- Content Header (Page header) -->
<partial name="_PageHeader" model="Model" />

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header px-2">
                        <partial name="_Toolbars" model="new ToobarModel() { Title = Model.Breadcrumb, Code = Model.Code, Name = Model.Setup.VoucherNo }" />
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body px-2 p-1">
                        <div class="container-fluid mb-3">
                            <form asp-action="Setup" id="voucherEntry-form">
                                <div class="js-voucherEntry-form-container">
                                    <partial name="_Setup" model="Model.Setup" />
                                </div>
                            </form>
                        </div>


                        <div class="container-fluid mb-3">
                            <div class="js-voucherEntry-grid-container2">
                             
                                <partial name="_Grid" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <partial name="_BottomNavigation" />
    </div>
</section>

<partial name="DeleteModal" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/pages/voucherEntry.js?v=1.0.3"></script>
    <script type="text/javascript">
        var options = {
            baseUrl: '@Url.Action("", "AccVoucher")',
            isAdmin: @Json.Serialize(Model.IsAdmin)
        };
        options.load = () => {
        };

        $.voucherEntry(options);
    </script>
}
