<div class="table-responsive">
    <table id="subSubsidiaryLedger-grid" class="table table-striped table-bordered table-sm table-common">
        <thead>
            <tr>
                <th class="text-center text-middle">
                    Select <br />
                    <input type="checkbox" id="subSubsidiaryLedger-check-all" />
                </th>
                <th class="text-center text-middle">Expense Code</th>
                <th class="text-center text-middle">Expense Name</th>
            </tr>
        </thead>
    </table>
</div>