<div class="table-responsive">
    <table id="paymenttype-grid" class="table table-striped table-bordered table-sm table-common">
        <thead>
            <tr>
                <th class="text-center text-middle">
                   Select <br/> <input type="checkbox" id="payment-type-check-all" />
                </th>
                <th class="text-center text-middle">ID</th>
                <th class="text-center text-middle">Payment Type</th>
                <th class="text-center text-middle">Short Name</th>
            </tr>
        </thead>
    </table>
</div>