<div class="table-responsive">
    <table id="bankaccount-grid" class="table table-striped table-bordered table-sm table-common">
        <thead>
            <tr>
                <th class="text-center text-middle">
                    Select <br />
                    <input type="checkbox" id="bankaccount-check-all" />
                </th>
                <th class="text-center text-middle">ID</th>
                <th class="text-center text-middle">Account Name</th>
                <th class="text-center text-middle">Account No.</th>
                <th class="text-center text-middle">Bank</th>
                <th class="text-center text-middle">Branch</th>
            </tr>
        </thead>
    </table>
</div>